<ng-container *ngIf="isHandset$ | async; then verticalTemplate; else horizontalTemplate"></ng-container>

<ng-template #horizontalTemplate>
  <div class="card mt-3 shadow-sm border-0">
      <div class="card-header p-2 bg-primary text-light rounded-top">
          <p class="m-0">Serviços</p>
      </div>
      <div class="table-responsive">
          <table class="table table-hover table-sm">
              <thead>
                  <tr>
                      <th class="text-center"></th>
                      <th>Código</th>
                      <th>Descrição</th>
                      <th>Tempo (min)</th>
                      <th>Cronômetro</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let i of codServico; let index = index">
                      <td class="text-center">
                          <div class="form-check d-flex justify-content-center align-items-center">
                              <input type="checkbox" class="form-check-input" style="transform: scale(1.5);">
                          </div>
                      </td>
                      <td>
                          <input type="text" formControlName="codigoServico" class="form-control" [value]="codServico[index]" readonly>
                      </td>
                      <td>
                          <input type="text" formControlName="descricaoServico" class="form-control" [value]="descServico[index]" readonly>
                      </td>
                      <td>
                          <input type="text" formControlName="tempo" class="form-control" [value]="convertTempo(tempoServico[index])" readonly>
                      </td>
                      <td class="text-center">
                          <button type="button" class="btn btn-primary btn-lg" (click)="openDialog(descServico[index], codServico[index])">
                              Play
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</ng-template>


<ng-template #verticalTemplate>
  <div class="card mt-3 shadow-sm border-0">
      <div class="card-header p-2 bg-primary text-light rounded-top">
          <p class="m-0">Serviços</p>
      </div>
      <div class="table-responsive">
          <table class="table table-hover table-sm">
              <thead>
                  <tr>
                      <th class="col-1 text-center"></th>
                      <th class="col-6">Descrição</th>
                      <th class="col-2">Tempo (min)</th>
                      <th class="col-2">Cronômetro</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let i of codServico; let index = index">
                      <td class="text-center">
                          <div class="form-check d-flex justify-content-center align-items-center">
                              <input type="checkbox" class="form-check-input" style="transform: scale(1.2);">
                          </div>
                      </td>
                      <td>
                          <input type="text" formControlName="descricaoServico" class="form-control border-0" [value]="descServico[index]" readonly>
                      </td>
                      <td>
                          <input type="text" formControlName="tempo" class="form-control border-0" [value]="convertTempo(tempoServico[index])" readonly>
                      </td>
                      <td class="text-center">
                          <button type="button" class="btn btn-primary btn-lg" (click)="openDialog(descServico[index], codServico[index])">
                              Play
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</ng-template>


<app-tempo-servico-dialog #tempoServicoModal ></app-tempo-servico-dialog>