.card {
    border-radius: 0.5rem; /* Canto arredondado */
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-body {
    padding: 20px; 
}

.form-floating label::after {
    background-color: transparent;
}

.form-control {
    background-color: #f5f5f5;
    border-radius: 0; 
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #6c757d;
}

.form-control:hover{
    background-color: #e6eaec;
}

/* Estilo para quando o botao tiver foco */
.form-control:focus{
    border-bottom: 2px solid blue;
}

/* Estilo para entradas invalida */
.entrada-invalida .form-control{
    border-bottom: 2px solid red;
    color: red;
}
.entrada-invalida::placeholder {
    color: transparent;
}

.entrada-invalida label {
    color: red;
}

.text-danger {
    font-size: 0.875rem; 
    font-weight: bold;
}

span {
    /* background-color: #f5f5f5; */
    border-radius: 0;
    border: none;
    /* border-bottom: 2px solid #6c757d; */
}

.row {
    margin-bottom: 1rem; 
}