<div class="card mt-3 shadow-sm border-0">
  <div class="card-header p-2 bg-primary text-light rounded-top">
      <p class="m-0">Peças</p>
  </div>
  <div class="table-responsive">
      <table class="table table-striped table-hover">
          <thead class="table">
              <tr>
                  <th>Código</th>
                  <th>Descrição</th>
                  <th>Aplicação</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of codPeca; let index = index" class="align-middle">
              <td>
                <input type="text" formControlName="codigoPeca" class="form-control border-0" [value]="codPeca[index]" readonly>
              </td>
              <td>
                <input type="text" formControlName="descricaoPeca" class="form-control border-0" [value]="descPecas[index]" readonly>
              </td>
              <td class="text-center">
                <div class="form-check d-flex justify-content-center align-items-center">
                  <input type="checkbox" class="form-check-input" style="transform: scale(1.5);" #checkbox>
                  <label class="form-check-label ms-2">Aplicado</label>
                </div>
              </td>
            </tr>
          </tbody>
      </table>  
  </div>
</div>
